@use '../variables' as *;
@use '../mixins' as *;

.title {
  font-size: $font-size-larger;
  font-weight: 700;
  line-height: 1.5;
}

.subtitle {
  font-size: $font-size-large;
  line-height: 1.5;
}

.text {
  font-family: $secondary-font-family;
  font-weight: 400;
  line-height: 1.5;
}

@include tablet {
  .title {
    font-size: $font-size-extra-large;
  }
}
